
<main class="detailsPage">
  <section>
    <h1>Details about the Car</h1>
    <div class="all">
      <img src="{{ auto?.imageUrl }}" />
      <div class="details">
        <div type="text" name="brand" id="brand">
          <strong>Auto Brand:</strong> {{ auto?.brand }}
        </div>

        <div type="text" name="model" id="model">
          <strong>Auto model:</strong> {{ auto?.model }}
        </div>

        <div type="date" name="manufactureYear" id="manufactureYear">
          <strong>Year of manufacture:</strong> {{ auto?.manufactureYear }}
        </div>

        <div id="type" name="type"><strong>Type:</strong>{{ auto?.type }}</div>
        <div id="motor" name="motor">
          <strong>Motor:</strong> {{ auto?.motor }}
        </div>
      </div>
      <div class="description" id="description" name="description">
        <p><strong>Description:</strong> {{ auto?.description }}</p>
      </div>
      <div class="btns">
        <div *ngIf="owner" class="owner-btn">
          <button (click)="edit()">Edit</button>
          <button (click)="deleteFn()">Delete</button>
        </div>
        <button routerLink="/autos">Back</button>
        <button (click)="contact()">Contacts</button>
      </div>
    </div>
  </section>

  <section class="commets">
    <div class="comment-answer">
      <div class="commentars">
        <h1>Comments about the car!</h1>
        <div *ngIf="comments==undefined">
          No comments available!
        </div>
      
        <div *ngFor="let comment of comments">
          <p>{{comment.name}}: {{comment.comment}}</p>
        </div>

      </div>
      <div class="answer-comment" *ngIf="isLoggedIn">
        <h1>Whrite a comment!</h1>
        <p><span>{{username}}</span> comment:</p>
        <div class="answer">
          <form  [formGroup]="form" (submit)="postComment()">
            <div class="content">
              <textarea formControlName="postText" id="comment" cols="30" rows="10"></textarea>
              <button class="post">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
 
  </section>
</main>
