.all{
  display: flex;
}

.details{
  margin-left: 2em;
  width: 15em;
  border: 1px solid white;
  background-image:linear-gradient(rgba(216, 135, 14, 0.5), rgba(243, 16, 73, 0.763));
  border-radius: 1em;
  height: 7em;
  /* text-align: center; */
  font-size: 1.5em;
  font-style: italic;
  overflow: scroll;

}

.details div{
  padding-left: 1em;
  padding-top: 0.2em;
}

.owner-btn{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  
}
button { 
  text-decoration: none;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  width: 130px;
  padding: 10px;
  color: white;
  background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763)); 
}
img{
  width: 20em;
  height: 15em;
  margin-left: 3em
}
.description{
  margin-left: 2em;
  width: 15em;
  border: 1px solid white;
  background-image:linear-gradient(rgba(216, 135, 14, 0.5), rgba(243, 16, 73, 0.763));
  border-radius: 1em;
  height: 7em;
  /* text-align: center; */
  font-size: 1.5em;
  font-style: italic;
  overflow: scroll;
}

.description p{
  padding-left: 1em;
  margin: 0;
  padding-top: 0.2em;
}

.comment-answer{
  display: flex;
  margin: 0 auto;
  /* justify-content: space-between; */
}

.answer-comment{

  margin-left: 10em;
  border: 1px solid white;
  border-radius: 1em;
  background-image:linear-gradient(rgba(216, 135, 14, 0.5), rgba(243, 16, 73, 0.763));
  display: inline-table;
  margin-top: -2em;

}

.commentars{
  margin-left: 2em;
  width: 25em;
  border: 1px solid white;
  background-image:linear-gradient(rgba(216, 135, 14, 0.5), rgba(243, 16, 73, 0.763));
  border-radius: 1em;
  height: 10em;
  /* text-align: center; */
  font-size: 1.5em;
  font-style: italic;
  overflow:scroll;
}
p{
  padding: 0;
  padding-left: 1em;
  padding-top: 0.5em;
  margin: 0;
}

.answer-comment h1, .answer-comment p {
font-size: 20px;
font-style: italic;
color: black;
}

.content{
  display: flex;
}
h1{
  text-align: center;
  font-style: italic;
}

.post{
  text-decoration: none;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  width: 130px;
  padding: 10px;
  color: white;
  background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763));
}

textarea{
  background-image:linear-gradient(rgba(252, 243, 229, 0.5), rgba(215, 116, 140, 0.763));

}




.car{
  display: block;
}







.like-content {
  display: inline-block;
  width: 100%;
  margin: 40px 0 0;
  padding: 40px 0 0;
  font-size: 18px;
  border-top: 10px dashed #eee;
  text-align: center;
}
.like-content span {
color: #9d9da4;
font-family: monospace;
}
.btn-secondary {
  display: block;
  /* margin: 40px auto 0px; */
  margin-left: 9em;
  text-align: center;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px 17px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-secondary:hover {
  transform: translateY(-3px);
}
.btn-secondary .fa {
  margin-right: 5px;
}
.animate-like {
animation-name: likeAnimation;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-duration: 0.65s;
}
@keyframes likeAnimation {
0%   { transform: scale(30); }
100% { transform: scale(1); }
}


.text p{
color: white;
margin-left: 3.5em;
font-size: 2em;
margin-top: 0.5em;
}
