<main class="edit">
  <section>
    <h1>Edit Car</h1>
    <hr />
    <div class="form">
      <form class="edit-form" #form="ngForm" (ngSubmit)="edit(form)">
        <input
          type="text"
          name="brand"
          [value]="auto?.brand"
          id="brand"
          placeholder="Brand"
          ngModel
          #inputBrand="ngModel"
          required
        /> 
        <ng-container *ngIf="inputBrand.touched">
          <p class="error" *ngIf="inputBrand.errors?.['required']">
            Brand is required!
          </p>
        </ng-container>
        <input
          type="text"
          name="model"
          id="model"
          placeholder="Model"
          ngModel
          #inputModel="ngModel"
          required
          value="{{auto?.model}}"
        />
        <ng-container *ngIf="inputModel.touched">
          <p class="error" *ngIf="inputModel.errors?.['required']">
            Model is required!
          </p>
        </ng-container>
        <input
          type="date"
          name="manufactureYear"
          id="manufactureYear"
          placeholder="Year of manufacture"
          ngModel
          #inputDate="ngModel"
          required
          value="{{auto?.manufactureYear}}"
        />
        <ng-container *ngIf="inputDate.touched">
          <p class="error">Date is required!</p>
        </ng-container>
        <input
          type="text"
          name="imageUrl"
          id="imageUrl"
          placeholder="Auto image"
          ngModel
          #inputImage="ngModel"
          required
          value="{{auto?.imageUrl}}"

        />
        <ng-container *ngIf="inputImage.touched">
          <p class="error" *ngIf="inputImage.errors?.['required']">
            Image is required!
          </p>
        </ng-container>

        <select id="type" name="type"  value="{{auto?.type}}">
          <option value="0">Type: -----</option>
          <option value="1">1 - Coupe</option>
          <option value="2">2 - Sedan</option>
          <option value="3">3 - Limosine</option>
          <option value="4">4 - Combi</option>
          <option value="5">5 - Suv</option>
          <option value="6">6 - Jeep</option>
        </select>
        <select id="motor" name="motor" value="{{auto?.motor}}">
          <option value="0">Motor -----</option>
          <option value="1">1 - Benzin</option>
          <option value="2">2 - Diesel</option>
          <option value="3">3 - Hybrid</option>
          <option value="4">4 - Electric</option>
        </select>
        <textarea
          id="description"
          placeholder="Description..."
          name="description"
          ngModel
          #inputDescription="ngModel"
          required
          value="{{auto?.description}}"
        ></textarea>
        <ng-container *ngIf="inputDescription.touched">
          <p class="error" *ngIf="inputDescription.errors?.['required']">
            Description is required!
          </p>
        </ng-container>

        <button [routerLink]="auto?.id">Edit</button>
        <button [routerLink]="auto?.id">Back</button>
      </form>
    </div>
  </section>
