<main class="edit">
  <section>
    <h1>Edit Car</h1>
    <hr />
    <div class="form">
      <form class="edit-form" [formGroup]="form" (ngSubmit)="edit()">
        <input
          type="text"
          formControlName="brand"
          [value]="auto?.brand"
          id="brand"
          placeholder="Brand"
        /> 
        <!-- <ng-container *ngIf="inputBrand.touched">
          <p class="error" *ngIf="inputBrand.errors?.['required']">
            Brand is required!
          </p>
        </ng-container> -->
        <input
          type="text"
          formControlName="model"
          id="model"
          placeholder="Model"
          value="{{auto?.model}}"
        />
        <!-- <ng-container *ngIf="inputModel.touched">
          <p class="error" *ngIf="inputModel.errors?.['required']">
            Model is required!
          </p>
        </ng-container> -->
        <input
          type="date"
          formControlName="manufactureYear"
          id="manufactureYear"
          placeholder="Year of manufacture"
          value="{{auto?.manufactureYear}}"
        />
        <!-- <ng-container *ngIf="inputDate.touched"> -->
          <!-- <p class="error">Date is required!</p>
        </ng-container> -->
        <input
          type="text"
          formControlName="imageUrl"
          id="imageUrl"
          placeholder="Auto image"
          value="{{auto?.imageUrl}}"

        />
        <!-- <ng-container *ngIf="inputImage.touched">
          <p class="error" *ngIf="inputImage.errors?.['required']">
            Image is required!
          </p>
        </ng-container> -->


        <select id="type" formControlName="type" >
          <option value="0">Type: -----</option>
          <option value="Coupe">1 - Coupe</option>
          <option value="Sedan">2 - Sedan</option>
          <option value="Limosine">3 - Limosine</option>
          <option value="Combi">4 - Combi</option>
          <option value="Suv">5 - Suv</option>
          <option value="Jeep">6 - Jeep</option>
        </select>
        <select id="motor" formControlName="motor">
          <option value="0">Motor -----</option>
          <option value="Benzin">1 - Benzin</option>
          <option value="Diesel">2 - Diesel</option>
          <option value="Hybrid">3 - Hybrid</option>
          <option value="Electric">4 - Electric</option>
        </select>

        <textarea
          id="description"
          placeholder="Description..."
          formControlName="description"
          value="{{auto?.description}}"
        ></textarea>
        <!-- <ng-container *ngIf="inputDescription.touched">
          <p class="error" *ngIf="inputDescription.errors?.['required']">
            Description is required!
          </p>
        </ng-container> -->

        <div class="btns">
          <button [disabled]="form.invalid">Edit</button>
          <button [routerLink]="auto?.id">Back</button>
        </div>
      </form>
    </div>
  </section>
