<div *ngIf="isLoading">
    <app-loader/>
</div>

<main class="catalog" *ngIf="!isLoading">
    <section id="catalog">
        <h2>Cars for sale</h2>
        <ul class="card-wrapper">

            <li class="card" *ngFor="let auto of autos">
                <img src="{{auto.imageUrl}}"/>
                <p>
                    <strong>Brand: </strong><span class="name">{{auto.brand}}</span>
                </p>
                <p>
                    <strong>Model: </strong><span class="model">{{auto.model}}</span>
                </p>
                <p><strong>Car type: </strong><span class="car-type">{{auto.type}}</span></p>
                <a class="details-btn" [routerLink]="auto.id">Details</a>
                <div class="h_container">
                    <i id="heart" class="far fa-heart"></i>
              </div>
            </li>
        </ul>

        <div id="no-post" *ngIf="autos.length===0">
            <h1>There are no cars available! :( :( :(</h1>
        </div>
    </section>
</main>
