<main class="catalog">
    <section id="catalog">
        <h2>Cars for sale</h2>
        <ul class="card-wrapper">
            <!-- Display a li with information about every post (if any)-->
            <li class="card">
                <img src="./static/images/animal1.jpg"/>
                <p>
                    <strong>Name: </strong><span class="name">Show</span>
                </p>
                <p>
                    <strong>Location: </strong><span class="location">San Diego Zoo</span>
                </p>
                <p><strong>Need of:</strong><span class="need-of">Medicine</span></p>
                <a class="details-btn" href="#">Details</a>
            </li>

            <li class="card">
                <img src="./static/images/animal2.jpg"/>
                <p>
                    <strong>Brand: </strong><span class="brand">BMW</span>
                </p>
                <p>
                    <strong>Model: </strong><span class="model">320D</span>
                </p>
                <p><strong>Car type:</strong><span class="car-type">Sedan</span></p>
                <a class="details-btn" href="#">Details</a>
            </li>

            <li class="card">
                <img src="./static/images/animal2.jpg"/>
                <p>
                    <strong>Brand: </strong><span class="brand">BMW</span>
                </p>
                <p>
                    <strong>Model: </strong><span class="model">335D</span>
                </p>
                <p><strong>Car type:</strong><span class="car-type">Sedan</span></p>
                <a class="details-btn" href="#">Details</a>
            </li>
            
        </ul>

        <!-- Display an h2 if there are no posts -->
        <!-- <div id="no-post">
            <h2>There are no animals in need now! </h2>
        </div> -->
    </section>
</main>
