footer {
    background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763));
    color: white;
    margin-top: 10em;
    position: absolute;
    display: block;
    bottom: 0%;
    width: 130%;
    max-width: 1425px;

}

footer p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
}