<main class="register">
  <section id="register">
    <div class="register-succs" *ngIf="successfulRegister">
      <img src="../../../assets/successful.png">
      <p>Register successful!</p>
    </div>
    <div class="register-error" *ngIf="hasError">
      <img src="../../../assets/error.png">
      <p>Error: {{errMsg}}</p>
    </div>
    <div class="form" *ngIf="!successfulRegister && !hasError">
      <h2>Register page</h2>
      <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
        <h1>Please fill in this form to create an account</h1>

        <!-- Email -->
        <input
          type="text"
          formControlName="email"
          name="email"
          id="email"
          placeholder="Email..."
        />
        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']">
            Email is required!
          </p>
          <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
            Email is not valid!
          </p>
        </ng-container>

        <!-- Password -->
        <input
          type="password"
          formControlName="password"
          name="password"
          id="password"
          placeholder="Password..."
        />
        <ng-container *ngIf="form.get('password')?.touched">
          <p class="error" *ngIf="form.get('password')?.errors?.['required']">
            Password is required!
          </p>
          <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">
            Password muss be at least
            {{form.get('password')?.errors?.['minlength']?.['requiredLength']}}
            characters!
          </p>
        </ng-container>

        <!-- rePassword -->

        <input
          type="password"
          formControlName="rePassword"
          name="rePassword"
          id="rePassword"
          placeholder="Repeat the password..."
        />
        <ng-container *ngIf="form.get('rePassword')?.touched">
          <p class="error" *ngIf="form.get('rePassword')?.errors?.['required']">
            Repeat Password muss be required!
          </p>

          <p
            class="error"
            *ngIf="form.get('rePassword')?.errors?.['minlength']"
          >
            Password muss be at least
            {{form.get('rePassword')?.errors?.['minlength']?.['requiredLength']}}
            characters!
          </p>
        </ng-container>

        <button [disabled]="form.invalid">Register</button>
        <h3 class="message">
          Already registered? <a href="/">Login</a>
        </h3>
      </form>
    </div>
  </section>
</main>
