.flex{
    text-shadow: 0 0 3px #e3e9e7, 0 0 5px #6565e9;

}
.container{
    border: 1px solid black;
    border-radius: 2em; 
    font-size: 200em;
}

#profile{
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 1em; 
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50em;
    backdrop-filter: blur(18px);
    box-shadow: 0 1em 1em 1em rgba(255, 255, 255, 0.2);   
}

#profile p{
    font-size: 1.5em;
    font-style: oblique;
}



ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


.card img {
    overflow: hidden;
    display: block;
    width: 20em;
    min-height: 15em;
    max-height: 15.1em;

}

.details-btn {
  text-decoration: none;
  margin: auto 50px;
  font-size: 25px;
  text-align: center;
  width: 130px;
  padding: 10px;
  color: white;
  background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763));

}

.card p {
  min-width: 90%;
  margin: auto;
  font-size: 20px;
  max-height: 50px;
  max-width: 30%;
  text-align: left;
  color:white
}

.card-wrapper {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.card {
    border: 1px solid #fff;
    height: 500px;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3em;
    border-radius: 12px;
    backdrop-filter: blur(18px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.682), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    max-width: 1100px;
  }

  h2{
    text-align: center;
    font-style: italic;
    color: white;
    border-radius: 0.5em;
    border: 1px solid white;
    background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763));
    
  }

  main{
    padding: 1em;
  }