<div *ngIf="isLoading">
  <app-loader/>
</div>

<main class="profile" *ngIf="!isLoading">
    <section id="profile">
      <h1>Information about user</h1>
  
      <ng-container class="container">
        <div class="flex">
          <p>Email: {{userDetails?.email}}</p>
        </div>
        <div class="flex">
          <p>Country: {{userDetails?.contry}}</p>
        </div>
        <div class="flex">
          <p>City: {{userDetails?.city}} </p>
        </div>
        <div class="flex">
          <p>Street: {{userDetails?.street}}</p>
        </div>
        <div class="flex">
          <p>Phone: {{userDetails?.phone}}</p>
        </div>
      </ng-container>
      </section>

      <section id="catalog">
        <h2>{{username}} cars</h2>
        <ul class="card-wrapper">

            <li class="card" >
                <img src=""/>
                <p>
                    <strong>Brand: </strong><span class="name">bmw</span>
                </p>
                <p>
                    <strong>Model: </strong><span class="model">320</span>
                </p>
                <p><strong>Car type:</strong><span class="car-type">coupe</span></p>
                <a class="details-btn">Details</a>
                <div class="h_container">
                    <i id="heart" class="far fa-heart"></i>
              </div>
            </li>
        </ul>


        <!-- Display an h2 if there are no posts -->
        <div id="no-post" >
            <h1>There are no cars available! :( :( :(</h1>
        </div>
    </section>
</main>
