.home {
  color: white;
  font-size: 30px;
  text-shadow: 0 0 3px #00ffa2, 0 0 5px #0000ff;
  padding-bottom: 8em;
}

#home h1 {
  font-style: italic;
  font-size: 50px;
  color: black;
  text-align: center;
  margin: 0.3em;
}

#home h2 {
  font-style: italic;
  font-size: 30px;
  color: #0a6846;
  text-align: center;
}

section {
  /* background-image: url(""); */
  /* background-color: #cccccc; */
  font: 1em sans-serif;
  background-image:linear-gradient(rgba(216, 135, 14, 0.5), rgba(243, 16, 73, 0.763))
}


.end-btn1{
  margin-top: 5em;
  margin-left: 15em;
  background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763));
  border: none;
  /* width: 18vw; */
  /* height: 3vw; */
  font-size: 1.5vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
  padding: 1em 2em;
  width: 17em;
  

}
.end-btn2{
  margin-top: 5em;
  margin-right: 15em;
  border: none;
  width: 17em;
  font-size: 1.5vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
  padding: 1em 2em;
  background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763))

}
.navigate{
  /* height: 0px; */
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
}




.date{
  margin-left: 20.5em;
  font-size: 1em;
  font-style: italic;
  text-shadow: 0 0 3px #00ffa2, 0 0 5px #3c3cdd;

}







