<main class="home">

  <section id="home">
    <h1>Welcome Daniel to Best-Auto-Seller</h1>
    <h2>
      This site will help you not only to sell your car, but also to find a new, nicer one.
    </h2>
    <div class="navigate">
      <button class="end-btn" routerLink="/catalog"> Cars for sale here... </button>
      <button class="end-btn" routerLink="/add-auto">Add car for sale here... </button>
    </div>
  </section> 

  <!-- <section id="home">
    <h1>Welcome to Best-Auto-Seller</h1>
    <h2>
      This site will help you not only to sell your car, but also to find a new, nicer one.
    </h2>
    <div class="navigate">
      <a routerLink="/catalog">Cars for sale here...</a>
    </div>
  </section> -->

  
  <div class="img">
    <img src="https://i.pinimg.com/736x/5e/ee/8d/5eee8ded1d8074bc0fa8c07707a587a1.jpg">
  </div>
</main>
