h1{
    color: white;
    text-align: center;
    font-size: 5em;
    margin: 0;
}

h2{
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0;
}
.notFound{
    background-image:linear-gradient(rgba(216, 135, 14, 0.5), rgba(243, 16, 73, 0.763))
}
button { 
    text-decoration: none;
    margin: 0 auto;
    margin-left: 25em;
    font-size: 25px;
    text-align: center;
    width: 8em;
    padding: 10px;
    color: white;
    background-image:linear-gradient(rgba(17, 16, 14, 0.974), rgba(16, 43, 243, 0.763)); 
  }
  .content{
    margin-bottom: 8em;
  }
  p{
    font-size: 2em;
    text-align: center;
    color: white;
    text-decoration: underline;
  }