<main class="login">
  <section id="login">
    <div class="form">
      <h2>Login page</h2>
      <form class="login-form">
        <h1>To log in to your account, you must complete the login form</h1>
        <!-- Email -->
        <label for="email"></label>
        <input
          type="text"
          name="email"
          name="email"
          id="email"
          placeholder="Email..."
        />
        <label for="password"></label>
        <input
          type="password"
          name="password"
          name="password"
          id="password"
          placeholder="Password..."
        />

        <button>Login</button>
        <h3 class="message">
          Don't have a acount? <a href="/user/register">Login</a>
        </h3>
      </form>
    </div>
  </section>
</main>
