
.error {
  color: red;
  font-size: 15px;
  font-style: italic;
  text-shadow: none;
  margin: 0;
  padding: 0;
} 


.login-form {
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 40em;
    border-radius: 2em;
    backdrop-filter: blur(18px);
    box-shadow: 0 1em 1em 1em rgba(255, 255, 255, 0.2);
}



h2 {
    text-align: center;
    font-size: 3em;
}

h1{
    text-align: center;
    font-style: italic;
    padding: 3em;
    margin-top: -7em;
    margin-bottom: -2em;
}
form {
    padding-top: 8em;
}

button {
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 100px;
    color: #000;
    border: 2px solid black;
    font-weight: 580;
}

button:hover {
    background-color: blue;
    border: 2px solid green;
    color: #fff;
}


input {
    border-radius: 1em;
    border: 1px solid black;
    width: 18em;
    height: 3em;
}

.accBtn {
    color: #00ff2f;
    text-decoration: underline;
}

input {
    color: #000;
}

label{
  padding: 0.1em;
  margin: 0em;
  width: auto;
}

.message{
  color: white;
  font-style: italic;
}

.login{
  padding-bottom: 13em;

}


.login-succs{
    display: flex;
    align-items: center;
    justify-content: center;

}
.login-succs p {
    font-size: 4em;
    font-style: italic;
    color: white;
}
.login-succs img{
   width: 3em; 
   height: 3.5em;
}


.login-error{
    display: flex;
    align-items: center;
    justify-content: center;

}
.login-error p {
    font-size: 4em;
    font-style: italic;
    color: white;
}
.login-error img{
   width: 3em; 
   height: 3.5em;
}