.create-form {
  border: 1px solid #000;
  margin-top: 3em;
  margin-left: 6.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20em;
  padding: 1em;
  border-radius: 2em;
  backdrop-filter: blur(18px);
  box-shadow: 0 1em 1em 1em rgba(255, 255, 255, 0.2);
  overflow: scroll;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  border-radius: 1em;
  border: 1px solid black;
  width: 18em;
  height: 3em;
}

select {
  border-radius: 1em;
  border: 1px solid black;
  width: 18em;
  height: 3em;
}


button {
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 100px;
  color: #000;
  border: 2px solid black;
  font-weight: 580;
}

button:hover {
  background-color: blue;
  border: 2px solid green;
  color: #fff;
}


p {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-size: 25px;
}

.error {
  color: red;
  font-size: 15px;
  font-style: italic;
  text-shadow: none;
}
.form {
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 35em;
  height: 30em;
  border-radius: 2em;
  backdrop-filter: blur(18px);
  box-shadow: 0 1em 1em 1em rgba(255, 255, 255, 0.2);
}

.content {
  display: flex;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  font-style: italic;


  text-shadow: 0 0 3px #00ffa2, 0 0 5px #3c3cdd;
}
