<main class="create">
  <section>
    <h1>Add Car </h1>

    <p>Easy way to sell your car! The condition is that you fill in the fields with the car data and it will be sold within days.</p>
    <div class="img">
      <img
        src="https://whipflipnow.s3.amazonaws.com/blog/how+to+sell+a+car+in+ohio.jpg"
      />
    </div>
    <div class="form">
      <form class="create-form" #form="ngForm" (ngSubmit)="submit(form)">
        <input type="text" name="brand" id="brand" placeholder="Brand" ngModel #inputBrand="ngModel" required/>
        <ng-container *ngIf="inputBrand.touched">
          <p class="error" *ngIf="inputBrand.errors?.['required']">Brand is required!</p>
        </ng-container>
        <input type="text" name="model" id="model" placeholder="Model" ngModel #inputModel="ngModel" required/>
        <ng-container *ngIf="inputModel.touched">
          <p class="error" *ngIf="inputModel.errors?.['required']" >Model is required!</p>
        </ng-container>
        <input
          type="date"
          name="manufactureYear"
          id="manufactureYear"
          placeholder="Year of manufacture"
          ngModel
          #inputDate="ngModel"
          required
        />
        <ng-container *ngIf="inputDate.touched">
          <p class="error">Date is required!</p>
        </ng-container>
        <input type="text" name="imageUrl" id="imageUrl" placeholder="Auto image" ngModel #inputImage="ngModel" required/>
        <ng-container *ngIf="inputImage.touched">
          <p class="error" *ngIf="inputImage.errors?.['required']">Image is required!</p>
        </ng-container>

        <select id="type" name="type">
          <option value="0">Type: -----</option>
          <option value="1">1 - Coupe</option>
          <option value="2">2 - Sedan</option>
          <option value="3">3 - Limosine</option>
          <option value="4">4 - Combi</option>
          <option value="5">5 - Suv</option>
          <option value="6">6 - Jeep</option>
        </select>
        <select id="motor" name="motor">
          <option value="0">Motor -----</option>
          <option value="1">1 - Benzin</option>
          <option value="2">2 - Diesel</option>
          <option value="3">3 - Hybrid</option>
          <option value="4">4 - Electric</option>
        </select>
        <textarea
          id="description"
          placeholder="Description..."
          name="description"
          ngModel
          #inputDescription="ngModel"
          required
        ></textarea>
        <ng-container *ngIf="inputDescription.touched">
          <p class="error" *ngIf="inputDescription.errors?.['required']">Description is required!</p>
        </ng-container>

        <button>Post</button>
      </form>
    </div>
  </section>
</main>
