header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: hsl(180, 27%, 48%);
}

header a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

header a :hover {
    color: brown;
}
nav{
    background-color: hsl(180, 27%, 48%);
    height: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: black;
}
nav a{
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
}